.slick-slide > div {
    margin: 0 10px;
}
.containerSlice {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(184, 156, 0);
    padding: 60px;
    border-radius: 30px;
}
.slick-list {
    margin: 0 -10px;
}
.card {
    border: 1px solid #fff;
    background: black;
    border-radius: 8px;
    overflow: hidden;
    height: 480px;
    color: #fff;
}
.card-top h1 {
    font-size: 1rem;
    margin: 10px 20px;
}
.card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-bottom {
    margin: 10px 20px;
}
.titleSlice {
    margin: 0;
    position: relative;
    z-index: 1;
    bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
}